<div class="container">
  <div class="row mb-3">
    <br>
    <h4>Consulta del tiempo por cuidad</h4>
    <h5> fecha de hoy: {{fechaActual | date:'MMM d, y'}}</h5>
    <!--Formulario-->
    <div class="col-lg-6 alineacion card">
      <!--uso del formGroup que va a activar el metodo consultar-->
      <form [formGroup]="formulario" (ngSubmit)="consultar()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Ciudad</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="ciudad"
          />
          <p
            class="text-danger"
            *ngIf="formulario.get('ciudad').invalid && formulario.get('ciudad').touched"
            >Por favor escriba solo letras</p>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Codigo de la ciudad</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            formControlName="codigo"
          />
          <p
            class="text-danger"
            *ngIf="formulario.get('codigo').invalid && formulario.get('codigo').touched"
            >Por favor escriba solo letras</p>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Consultar</button>

        </div>
      </form>
      <p class="text-danger" *ngIf="showError">{{mensajeError}}</p>

    </div>

    <!--Card-->
    <div class="col-lg-6 alineacion  ">
      <div class="card margen">
        <ul>
          <li>ciudad:{{name | titlecase }} </li>
          <li>Temperatura:{{temperatura}}</li>
          <li>Humedad:{{humedad}}</li>
          <li>Latitud:{{latitud | number : '1.0-2'}}</li>
          <li>Longitud:{{longitud}}</li>
          <li>Descripcion:{{descripcion | titlecase }}</li>
        </ul>
      </div>
    </div>
  </div>



</div>
