<div class="container">
  <div class="row mb-3">
    <br>
    <h4>Consulta del tiempo por cuidad</h4>

    <div class="col-lg-6 alineacion card">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Cuidad</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Codigo de la cuidad</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Consultar</button>

        </div>
      </form>
    </div>

    <div class="col-lg-6 alineacion  ">
      <div class="card margen">
        <ul>
          <li>Temperatura:</li>
          <li>cuidad:</li>
          <li>latitud:</li>
          <li>longitud:</li>
        </ul>
      </div>
    </div>
  </div>



</div>
