<div class="container">
  <div class="row mb-3">
    <br>
    <h4>Consulta del tiempo por cuidad</h4>

    <div class="col-lg-6 alineacion card">
      <!--uso del formGroup que va a activar el metodo consultar-->
      <form [formGroup]="formulario" (ngSubmit)="consultar()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Ciudad</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="ciudad"
          />
          <p
            class="text-danger"
            *ngIf="formulario.get('ciudad').invalid && formulario.get('ciudad').touched"
            >Por favor escriba solo letras</p>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Codigo de la cuidad</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            formControlName="codigo"
          />
          <p
            class="text-danger"
            *ngIf="formulario.get('codigo').invalid && formulario.get('codigo').touched"
            >Por favor escriba solo letras</p>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Consultar</button>

        </div>
      </form>
    </div>

    <div class="col-lg-6 alineacion  ">
      <div class="card margen">
        <ul>
          <li>Temperatura:</li>
          <li>ciudad:</li>
          <li>latitud:</li>
          <li>longitud:</li>
        </ul>
      </div>
    </div>
  </div>



</div>
